* {
  color: white;
}
body,
html {
  height: 100%;
  width: 100%;
  justify-content: center;
}
body {
  margin: 0px;
  background-image: url("/assets/jimwallpaper.jpg");
  background-size: cover;
  font-family: "Uchen", serif;
}
button {
  font-family: "Uchen", serif;
  color: black;
}
input {
  color: black;
}
.inner-body {
  height: 100%;
  width: 95%;
  margin-left: 2.5%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "ppl info";
}
.category {
  margin-top: 75px;
  width: 150px;
  height: 675px;
  grid-area: ppl;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "push"
    "pull"
    "legs";
}
#push {
  grid-area: push;
}
#pull {
  grid-area: pull;
}
#legs {
  grid-area: legs;
}
.info {
  grid-area: info;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 75px 3fr;
  grid-template-areas:
    "switch"
    "desc";
}
.switch {
  grid-area: switch;
}
.desc {
  grid-area: desc;
  margin-bottom: 50px;
  background-color: rgba(0, 0, 139, 0.25);
  border-style: solid;
  border-color: black;
}
.journal {
  grid-area: journal;
  background-color: darkcyan;
}
.left {
  float: left;
}
.lift-buttons {
  width: 300px;
  height: 150px;
  background-color: black;
  color: white;
  border-style: outset;
  border-color: black;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.2);
  font-size: 24px;
}
.switch-buttons {
  width: 45%;
  height: 37.5px;
  background: black;
  color: white;
  border-style: outset;
  border-color: black;
  border-radius: 20px;
  margin-top: 18.75px;
  margin-left: 25px;
  font-size: 16px;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.2);
}
.lift-text {
  margin-left: 25px;
}
.journal-text {
  margin-left: 25px;
}
