* {
  color: white;
}
body,
html {
  height: 100%;
  width: 100%;
  justify-content: center;
}
body {
  margin: 0px;
}
button {
  color: black;
}
.inner-body {
  height: 100%;
  width: 95%;
  margin-left: 2.5%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "ppl info";
}
.category {
  width: 100%;
  height: 100%;
  grid-area: ppl;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "push"
    "pull"
    "legs";
  background-color: black;
}
#push {
  grid-area: push;
  background-color: blue;
}
#pull {
  grid-area: pull;
  background-color: aqua;
}
#legs {
  grid-area: legs;
  background-color: aquamarine;
}
.info {
  grid-area: info;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-areas:
    "desc"
    "journal";
  background-color: black;
}
.desc {
  grid-area: desc;

  background-color: darkblue;
}
.journal {
  grid-area: journal;
  background-color: darkcyan;
}
.left {
  float: left;
}
